  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: white;
	 background-image: url("810d7f716a950a63a9c0dba6aacb1a73.gif"), url("810d7f716a950a63a9c0dba6aacb1a73.gif");
    background-color: #000000 }
  
P { text-align: center }
H2 { text-align: center } 

 h2 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
