  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: yellow;
	 background-image: url("95e82d311a9c58d3f5e758c1d472f994.gif"), url("95e82d311a9c58d3f5e758c1d472f994.gif");
    background-color: #000000 }
	H1 { text-align: center }
  ul.navbar
  h1 {
    font-family: comic sans ms }
