
		   body {
			   display:flex;
			   flex-direction:column;
		   font-family: georgia, "times new roman",times serif;
		   color: black;
		   background-color:#d5f4e6; 
		   margin-bottom:900px;
		   font-family: 'Open Sans', sans-serif;
		   
		   
		   }
		   
		   
		   p {
		   font-family: helvetica, geneva, arial, sunsans-regular, sans-serif;
           margin-right:10px;
		   margin-left:450px;
			   margin-right:50px;
			   font-size: 16px;
		  
		   }
		   h1 {
			   margin-left:450px;
			   margin-right:50px;
			   border:2px solid black;
			   border-radius: 10px;
			padding-right:20px;
			width:280px;
			box-shadow: 10px 5px 5px blue;
			  
		   }
		   img {
			   width: 150px;
			   margin-left:450px;
			   margin-right:50px;
		   }
		   a {
			      margin-left:450px;
			   margin-right:50px;
			   background-color: gold;
		   }
		   
			   