/* font-family: 'Kufam', cursive;
font-family: 'Slabo 27px', serif; */

body {
	font-family: 'Slabo 27px', serif;
	background-image: url("bgheader.jpg");
	background-position: fixed;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	color: white;
	text-align: center;
	background-image: url("bgheader.jpg");
	width: 105%;
	position: fixed;
	box-shadow: 0 10px 5px #888888;
}

header h1 {
	font-family: 'Kufam', cursive;
	font-size: 2.5em;
}

section {
	background-color: white;
	color: blue;
	width: 105%;
	height: 400px;
	padding-top: 300px;
	padding-left: 1000px;
	align-items: center;
}
div img {
	float: left;
	width: 100px;
	border-radius: 5px;
	margin-right: 50px;
}
a:hover {
	font-style: italic;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

footer p {
	margin: 50px 30px;
	width: 200px;
	height: 100px;
	margin: 20px;
	padding: 20px;
	background-color: #4B0082;
	color: white;
	border-radius: 2px;
}
footer a {
	color: gray;
}

footer a:hover {
	color: white;
}